[Unit]
Description=Anomaly Predictor Web Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/anomaly_predictor
Environment="PATH=/home/ubuntu/anomaly_predictor/venv/bin"
Environment="PYTHONPATH=/home/ubuntu/anomaly_predictor"
ExecStart=/home/ubuntu/anomaly_predictor/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 wsgi:app

[Install]
WantedBy=multi-user.target 